.section {
    padding: 3.9rem 0;
    @include breakpoint(large up) {
        padding: 6rem 0;
    }
    &--large-padding {
        padding: 4rem 0;
        @include breakpoint(large up) {
            padding: 10rem 0;
        }
    }
    &--primary {
        background-color: color(off-white)
    }
    &__title {
        margin-bottom: 5.2rem;
        &--small {
            margin-bottom: 2.5rem;
        }
    }
}

.sublink {
    letter-spacing: 3px;
    line-height: 28px;
    &:first-child {
        margin-bottom: 0.4rem;
    }
    &--primary {
        color: color(primary);
    }
}

%large-text {
    font-family: Henderson Sans Basic;
    font-weight: bold;
    font-size: rem-calc(64);
    color: color(primary);
    letter-spacing: rem-calc(-2.86);
    line-height: rem-calc(100);
    @include breakpoint(large up) {
        font-size: rem-calc(100);
    }
}

.large-text {
    &--light {
        @extend %large-text;
        opacity: 0.1;
    }
}