extends ../_layout
block title
block content
  include ./../components/_header
  +header([{src: 'services-banner.jpg', alt: 'Hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ../components/_breadcrumb
  +breadcrumb([{title:'Services', href:'services'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans Our Services
        div.margin-top-3
          div.margin-top-2.margin-bottom-2#hotel-reservation
            h4.font-bold.color-primary Hotel Reservation
            p We have a state-of-the-art search and booking engine that allows us to make reservations directly with the Global Distribution Systems (GDS) of hotels worldwide.
          div.margin-top-2.margin-bottom-2#visa-advisory
            h4.font-bold.color-primary Visa Advisory
            p We offer visa advisory services for a wide range of clients. Our visa advisory support services’ covers a wide variety of visa types including but not limited to visit visa, student visa, extensions, appeals, post-study visa, sponsoring family members, business visa, immigration, etc.
          div.margin-top-2.margin-bottom-2#tour-packages
            h4.font-bold.color-primary Tour Packages
            p Hamptons Travel & Tours offers an all-inclusive tour packages (honeymoon, educational, corporate, cruise, and a variety of leisure tours) to Dubai, Seychelles, Cape Verde, South Africa, Europe, etc. to match your interest, preferred style of travel and budget.
          div.margin-top-2.margin-bottom-2#protocol
            h4.font-bold.color-primary Protocol/Logistics Services
            p We offer exclusive protocol service which involves a warm welcome of passengers at both International and Major Domestic Airports on arrival/departure. Our protocol team will assist passengers through meets & greet, airport clearance and all related formalities on a “fast track basis” including pick up & drop off.
          div.margin-top-2.margin-bottom-2#travel-consultations
            h4.font-bold.color-primary Travel Consultations
            p Travel consultation (i.e. pre-trip services such as assistance with arranging airfare, trip insurance, passports, as well as making suggestions regarding trip packages) ticket issuance, revalidation, and reissue travel planning and implementation
      .cell.large-3.large-offset-1
        ul.aside__links
          each info in serviceAsideLink
            li
              a(href=info.link).font-bold.color-black= info.title
