@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('/assets/fonts/hinted-subset-AGaramondPro-Regular.woff2') format('woff2'), url('/assets/fonts/hinted-subset-AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson Sans Basic';
    src: url('/assets/fonts/hinted-subset-HendersonSansBasic-BdItBasic.woff2') format('woff2'), url('/assets/fonts/hinted-subset-HendersonSansBasic-BdItBasic.woff') format('woff');
    font-weight: bold italic;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('/assets/fonts/hinted-subset-AGaramondPro-Italic.woff2') format('woff2'), url('/assets/fonts/hinted-subset-AGaramondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Henderson Sans Basic';
    src: url('/assets/fonts/hinted-subset-HendersonSansBasic-BoldBasic.woff2') format('woff2'), url('/assets/fonts/hinted-subset-HendersonSansBasic-BoldBasic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson Sans Basic';
    src: url('/assets/fonts/hinted-subset-HendersonSansBasic-ItaBasic.woff2') format('woff2'), url('/assets/fonts/hinted-subset-HendersonSansBasic-ItaBasic.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: 'Henderson Sans Basic';
    src: url('/assets/fonts/hinted-subset-HendersonSansBasic-RegBasic.woff2') format('woff2'), url('/assets/fonts/hinted-subset-HendersonSansBasic-RegBasic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('/assets/fonts/hinted-subset-AGaramondPro-Bold.woff2') format('woff2'), url('/assets/fonts/hinted-subset-AGaramondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}