body {
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}

// Headings
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0;
// }
// Paragraph Text
// p {
//   margin: 0;
// }
// Lists
ul,
ol {
    margin: 0;
}

// Links
a {
    color: #989898;
    &:hover {
        color: inherit;
    }
}

textarea {
    resize: none;
}

// Button
button {
    margin: 0;
}