@import "./settings";
@import "foundation";
@import "./base/_fonts";
// Global styles
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
// Grids
@include foundation-xy-grid-classes;
// Generic components
// @include foundation-button;
// Base
@import "./base/resets";
// ABSTRACTS
@import "./abstract/colors";
@import "./abstract/variables";
@import "./helpers/floats";
@import "./helpers/colors";
@import "./helpers/icons";
@import "./helpers/typography";
@import "./helpers/underlines";
@import "./helpers/transforms";
// Components
@import "components/_blocks";
@import "components/_footer";
@import "components/_slider";
// @import "./components/nav";
@import "./components/aside";
@import "./components/nav";
@import "./components/card";
@import "./components/header";
@import "./components/buttons";
@import "./components/iconfonts";
@import "./components/breadcrumb";
@import "./components/_tooltip";
// PAGES
@import "./pages/_about";
// THEMES
@import "./themes/_section";
// Layout
@import "./layout/_layout.scss";
// Helpers
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-text-utilities;
@include foundation-prototype-text-transformation;
@include foundation-prototype-spacing;
html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    width: 100%;
    @include breakpoint(small only) {
        // font-size: 12px;
    }
}

p {
    text-align: justify;
    font-size: rem-calc(18);
}

.grid-container-w90 {
    max-width: $global-width;
    width: 90%;
    margin: 0 auto;
}

.span-across {
    width: 100%;
}

.emphasize-point {
    font-weight: 600
}

.parsley-required {
    list-style: none;
    color: red;
    font-size: 12px;
    margin-top: -10px;
}

.blog-main h1,
.blog-main .h1,
.blog-main h2,
.blog-main .h2,
.blog-main h3,
.blog-main .h3,
.blog-main h4,
.blog-main .h4,
.blog-main h5,
.blog-main .h5,
.blog-main h6,
.blog-main .h6 {
    color: #353535;
    text-align: left;
}