extends ../_layout
block title
block content
  include ./../components/_header
  +header([{src: 'vacation-banner.jpg', alt: 'vacation'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ../components/_breadcrumb
  +breadcrumb([{title:'Vacation', href:'vacation'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-2 Vacation
        p Let Hamptons do the work of planning your vacation and travel details for you, your family or group of friends – we want you to focus on having fun!
        br
        p Hamptons are available to organize vacations plans to:
        .grid-x.align-middle
          span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
          h6.h6.color-black.text-serif.margin-bottom-0.emphasize-point A specific destination you have in mind
        .grid-x.align-middle
          span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
          h6.h6.color-black.text-serif.margin-bottom-0.emphasize-point Design custom travel ideas based on your preferred travel preferences
        .grid-x.align-middle
          span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
          h6.h6.color-black.text-serif.margin-bottom-0.emphasize-point Arrange in-person travel assistance & resources during your trip
        br
        br
        a(href="/contact.html")
            button.button.bg-primary.color-white Lets help you plan
  
