@each $breakpoint in $breakpoint-classes {
  @include breakpoint(#{$breakpoint} up) {
    .#{$breakpoint}-centered {
      margin-left: auto;
      margin-right: auto;
    }
    .#{$breakpoint}-uncentered {
      margin-left: inherit;
      margin-right: inherit;
    }
  }
}
