$iconsizes: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10);
@each $size in $iconsizes {
  .icon-#{$size}x {
    font-size: rem-calc(16 * $size * 0.8);

    @include breakpoint(large up) {
      font-size: rem-calc(16 * $size);
    }
  }
}

.scale-new {
  :hover {
    transform: scale(1.05);
    transition: all $transition ease-in-out;
  }
}
