.img-hover {
  img {
    transition: $transition;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.icon-hover {
  .icon {
    transform: scale(1);
    transition: all $transition ease-in-out;
  }
  &:hover {
    .icon {
      color: color(black);
      transform: scale(1.2);
    }
  }
}
