$smallTypography: ("h1": ("letter-spacing": rem-calc(-0.5)),
  "h2": ("letter-spacing": rem-calc(-0.5)),
  "h3": ("letter-spacing": rem-calc(-0.2)));
$mediumTypography: ("h1": ("letter-spacing": rem-calc(-0.5)),
  "h2": ("letter-spacing": rem-calc(-0.5)),
  "h3": ("letter-spacing": rem-calc(-0.5)),
  "h4": ("letter-spacing": 0),
  "h5": ("letter-spacing": 0));

.text-sans {
  font-family: $font-family-sans;
}

.text-serif {
  font-family: $font-family-serif;
}

@each $header in (h1, h2, h3, h4, h5, h6) {
  #{$header}.text-serif & {
    letter-spacing: 0;
  }
}

.text-light {
  font-weight: normal;
}

// Small typography settings
@each $element,
$map in $smallTypography {

  @each $property,
  $value in $map {
    #{$element} {
      #{$property}: #{$value};
    }
  }
}

@include breakpoint(medium up) {

  @each $element,
  $map in $mediumTypography {

    @each $property,
    $value in $map {
      #{$element} {
        #{$property}: #{$value};
      }
    }
  }
}

%line-height {
  line-height: 1.4;
}

$fontSizes: (14, 20,24);

@each $size in $fontSizes {
  .font-#{$size} {
    font-size: rem-calc($size);
  }
}

.small {
  font-size: 90%;
  @extend %line-height;
}

.smaller {
  font-size: 80%;
  @extend %line-height;
}

.smallest {
  font-size: 70%;
  @extend %line-height;
}

.big {
  font-size: 110%;
  @extend %line-height;
}

.bigger {
  font-size: 120%;
  @extend %line-height;
}

.biggest {
  font-size: 130%;
  @extend %line-height;
}

.font-bold {
  font-weight: bold;
}

.no-letter-spacing {
  letter-spacing: 0;
}