%underline {
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 50%;
        width: rem-calc(80);
        transform: translateX(-50%);
        opacity: 0.5;
        background-color: color(primary);
        bottom: -0.5rem;
    }
}

// $lengths: (10, 20, 30, 40, 50, 100);
// @each $length in $lengths {
//   .underline-#{$length} {
//     @extend %underline;
//     width: $length;
//     left: (100-$length)2%;
//   }
// }
.underline {
    @extend %underline;
    &--left {
        width: auto;
        &::after {
            left: 0;
        }
    }
}

%underline {
    position: relative;
    display: inline-block;
    &::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 50%;
        width: rem-calc(124);
        transform: translateX(-50%);
        opacity: 0.5;
        background-color: color(primary);
        bottom: -0.5rem;
        @include breakpoint(medium up) {
            height: 4px;
        }
    }
}

.underline {
    @extend %underline;
    &--with-animation {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -10px;
            width: 100%;
            height: 2px;
            background-color: color(primary);
            transform-origin: center;
            transform: translate(-50%, 0) scaleX(0);
            transition: transform 0.3s ease-in-out;
        }
        &:hover::before {
            transform: translate(-50%, 0) scaleX(1);
        }
    }
    &--white {
        &::after {
            background-color: color(white);
        }
    }
    &--left {
        &::after {
            left: 0;
            transform: translateX(0);
        }
    }
    &--full {
        &::after {
            width: 100%;
        }
    }
}

.cell-underline {
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
    &:last-child {
        border-bottom: 0;
    }
}