//- title = String
//- image = Object with properties src and alt

mixin header(banners)
  header(class=`header overflow-hidden ${attributes.class}`)
    each info in banners
      img(class="header__image" src=`/assets/img/${info.src}`, alt=`${info.alt}`)
      if info.title && info.button
        .header__title-wrapper.grid-container-w90.grid-x.align-middle
            .title.cell.large-8.large-centered.padding-top-3
              h1.h2.margin-bottom-2.text-sans.font-bold= info.title
              h3.h5.margin-bottom-3.text-serif.no-letter-spacing.text-serif= info.subtitle
              a(href="/contact")
                button.button.bg-white.color-primary= info.button
