extends ./layout.pug
block title
block content
  include ./components/_header
  +header([
  { title: "Extraordinary Travels, Unforgettable Memories" , src: '/girl_smiling.jpg', alt: 'Home page banner', subtitle: 'We aim to provide Service, Comfort and Luxury for all categories of travellers. The Hamptons brand is synonymous with Service, Timely delivery and Luxury', button:'Let\'s help you Plan'}
  ])
  .grid-container-w90.section
    .grid-x
      .cell.large-8.large-centered
        .icon.icon-travel.icon-4x.color-primary.text-center
        h2.h2.color-primary.text-center.font-bold.margin-bottom-2.text-sans Almost every Hamptons customer book with us more than once. Let us show you why!
      .cell.large-6.large-centered.text-center
        h4.h4.color-gray-7.text-center.margin-bottom-1.text-serif "I am always happy with Hamptons. Everything is always very well planned and I’ve enjoyed every single trip!"
        .grid-x.align-middle.align-center
          span.icon.icon-arrow-right.icon-2x.color-primary.margin-right-1
          h6.h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Benjamin Jackson
  .grid-container-w90.section.padding-bottom-0
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h3.color-black.text-center.font-bold.margin-bottom-2.underline Discover what we do
      .cell.grid-x.medium-up-2.large-up-3.grid-padding-x.grid-padding-y
        each info in whatWeDo
            a.cell.block__image-with-text.text-sans(href=info.link)
                figure
                  img(src=info.image, alt="")
                  figcaption.color-white= info.title
      .grid-x.grid-padding-x.grid-padding-y.span-across
        .cell.block__image-with-text
          figure
            .block__image-wrapper
              img(src="/assets/img/people_with_sunset.jpg", alt="")
            figcaption.color-white.big-block
              h2.h3.margin-bottom-1 Experience group travel at its finest
              h5.h5.margin-bottom-2 Hampton has extensive experience planning customized group travel.
              a(href="/contact")
                button.button.bg-primary.color-white Lets help you plan
  .grid-container-w90.section
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h2.color-black.text-center.font-bold.margin-bottom-2.text-sans Take an exceptional vacation you will remember for a lifetime.
        a(href="/contact")
            button.button.bg-primary.color-white Lets help you plan



