extends ./layout.pug

block title
  title !{PrismicDOM.RichText.asText(post.data.title)}
block content
  .page.grid-container-w90.section
      div.padding-top-3
        div.back
          a(href='./blog') back to list

        - var title = PrismicDOM.RichText.asText(post.data.title)
        h1
          != (title !== "") ? title : 'Untitled'

      for slice in post.data.body
        //- Render the right markup for a given slice type.
        case slice.slice_type
          when 'text'
            div.post-part.single.container
              div !{PrismicDOM.RichText.asHtml(slice.primary.text)}
          when 'quote'
            div.post-part.single.container.text-center
              span.block-quotation !{PrismicDOM.RichText.asText(slice.primary.quote)}
          when 'image_with_caption'
            - var imageUrl = slice.primary.image.url
            - var caption = PrismicDOM.RichText.asText(slice.primary.caption)
            case slice.slice_label
              when 'image-full-width'
                div.blog-header.single(style='background-image: url(' + imageUrl + ');')
                  div.wrapper
                    if caption !== ""
                      h1 !{caption}
              when 'emphasized'
                div.post-part.single.container
                  p.block-img.emphasized
                    img(src=imageUrl)
                  if caption
                    p
                      span.image-label !{caption}
              default
                div.post-part.single.container
                  p.block-img
                    img(src=imageUrl)
                  if caption
                    p
                      span.image-label !{caption}