.footer
  .grid-container-w90.full.grid-x.footer__top
    .cell.large-6.grid-x.grid-padding-y
      h3.h4.margin-bottom-0.font-bold Get Hamptons in your Inbox
      .cell.footer__subscribe.grid-x.margin-bottom-0
        form.cell.grid-x(name="subscribe" method="POST" data-netlify="true")
          .cell.large-8
            input(type="email", name="subscriber-email",placeholder="Enter your email" required).margin-bottom-0
          .cell.large-4
            button(type='submit').footer__subscribe__btn.bg-primary.color-white Submit
      .cell.small-6.medium-4.footer__address.padding-top-0.padding-bottom-0
        p Hamptons Travel & Tours Ltd 71 Opebi Road, Ikeja Lagos, Nigeria
      .cell.padding-top-0
        a(href="mailto:reservations@hamptonstravels.com" target='_blank').color-white reservations@hamptonstravels.com
    .cell.large-5.large-offset-1.grid-x.align-right
      .cell.grid-x
        .cell.footer__tel-wrapper
          a(href="tel: +234 809 547 6727").color-white.footer__tel.margin-right-1 +234 809 547 6727
          a(href="tel: +234 809 547 6724").color-white.footer__tel +234 809 547 6724
      .cell.large-5.small-up-3.grid-x.grid-padding-y.footer__tel-wrapper
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/faqs.html").color-white FAQs
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/about.html").color-white About
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/contact.html").color-white Contact Us
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/vacation").color-white Vacations
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/tours.html").color-white Tours
        .cell.padding-top-0
          a(href="https://www.hamptonstravels.com/services").color-white Services
      .cell.grid-x.footer__tel-wrapper.partners__slide.small-up-6.large-up-6.align-end
        .cell.margin-right-2
          img(src="/assets/img/Iata_official_logo.svg ", alt="")
        .cell.margin-right-2
          img(src="/assets/img/nanta.svg", alt="")
        .cell
          img(src="/assets/img/naca_logo.svg", alt="")
  .grid-container-w90.full.grid-x.footer__bottom.grid-padding-y
    .cell.large-6.grid-x
      h6.h6.smaller © Copyright 1985 - 2019 Hamptons. All Rights Reserved
    .cell.large-6.grid-x.footer__bottom__social.footer__tel-wrapper
      a(href="").color-white
        .icon.icon-facebook.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-twitter.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-youtube.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-instagram.icon-1x
