.footer
  .grid-container-w90.full.grid-x.footer__top
    .cell.large-6.grid-x.grid-padding-y
      h3.h4.margin-bottom-0.font-bold Get Hamptons in your Inbox
      .cell.footer__subscribe.grid-x.margin-bottom-0
        form.cell.grid-x(name="subscribe" method="POST" data-netlify="true")
          .cell.large-8
            input(type="email", name="subscriber-email",placeholder="Enter your email" required).margin-bottom-0
          .cell.large-4
            button(type='submit').footer__subscribe__btn.bg-primary.color-white Submit
      .cell.small-8.medium-5.footer__address.padding-top-0.padding-bottom-0
        p Hamptons Travel & Tours Ltd. <br> 71 Opebi Road, Ikeja Lagos, Nigeria
      .cell.padding-top-0
        a(href="mailto:reservations@hamptonstravels.com" target='_blank').color-white reservations@hamptonstravels.com
    .cell.large-5.large-offset-1.grid-x.align-right
      .cell.grid-x
        .cell.footer__tel-wrapper
          a(href="tel: +234 809 547 6727").color-white.footer__tel.margin-right-1 +234 809 547 6727
          a(href="tel: +234 809 547 6724").color-white.footer__tel +234 809 547 6724
      .cell.large-7.small-up-3.grid-x.grid-padding-y.footer__tel-wrapper
        .cell.padding-top-0
          a(href="faqs.html").color-white.font-14 FAQs
        .cell.padding-top-0
          a(href="about.html").color-white.font-14 About
        .cell.padding-top-0
          a(href="contact.html").color-white.font-14 Contact-us
        .cell.padding-top-0
          a(href="vacation").color-white.font-14 Vacations
        .cell.padding-top-0
          a(href="tours.html").color-white.font-14 Tours
        .cell.padding-top-0
          a(href="services").color-white.font-14 Services
      .cell.grid-x.footer__tel-wrapper.partners__slide.small-up-6.large-up-6.align-end
        .cell.margin-right-2.position-relative
          img(src="/assets/img/iata.png", alt="IATA" style='left: 0; bottom: 22%;').position-absolute
        .cell.margin-right-2.position-relative
          img(src="/assets/img/nanta-logo.png", alt="NANTA" style='left: 0; bottom: 25%;').position-absolute
        .cell
          img(src="/assets/img/naca_logo.svg", alt="NACA")
  .grid-container-w90.full.grid-x.footer__bottom.grid-padding-y
    .cell.large-6.grid-x
      h6.h6.smaller © Copyright 1985 - 2019 Hamptons. All Rights Reserved
    .cell.large-6.grid-x.footer__bottom__social.footer__tel-wrapper
      a(href="").color-white
        .icon.icon-facebook.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-twitter.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-youtube.icon-1x.margin-right-2
      a(href="").color-white
        .icon.icon-instagram.icon-1x





