-
  let serviceAsideLink = [
    {link:'/services#hotel-reservation',title:'Hotel Reservation'},
    {link:'/services#visa-advisory',title:'Visa Advisory'},
    {link:'/services#tour-packages',title:'Tour Packages'},
    {link:'/services#protocol',title:'Protocol/Logistics Services'},
    {link:'/services#travel-consultations',title:'Travel Consultations'},
  ]
  let contactLink = [
    {title:'Hampons Travels & Tours Lagos-Nigeria',subtitle:'Hamptons Travel & Tours Ltd 71 Opebi Road, Ikeja Lagos, Nigeria'},
    {title:'Email',subtitle:'reservations@hamptonstravels.com'},
    {title:'Telephone',subtitle:'+234 809 547 6727; +234 809 547 6724'},
  ]
  let toursAsideLink = [
    {link:'/tours.html#school-tours',title:'Schools'},
    {link:'/tours.html#Pilgrim',title:'Pilgrims'},
    {link:'/tours.html#Medical',title:'Medicals'},
    {link:'/tours.html#Conferences',title:'Conferences'},
    {link:'/tours.html#Honeymoons',title:'Honeymoons'},
    {link:'/tours.html#Anniversary',title:'Anniversaries'},
  ]
  let faqs = [
    {info:"Not all destinations are reflected in our website, so you can either shoot us an email on reservations@hamptonstravels.com or call +234 809 547 6727+234 809 547 6724 for more information.",title:'How can I get information about a destination? '},
    {info:'For corporate travels and tours, you can sign up your company with Hampton Travel and Tours, please send an email reservations@hamptonstravels.com to and call +234 809 547 6727+234 809 547 6724',title:'How can my company sign up with Hamptons?'},
    {info:'We have long-standing partnerships with various companies for all categories of staff. We carefully study your organization’s needs and provide travel opportunities for your staff members, alongside your plans. You also get great discounts depending on the number of travels per year and persons on travels. You can trust us to properly package your corporate travels.',title:'Is there any special benefit on signing up my company?'},
    {info:'Individuals are eligible to travel with Hamptons outside company sign ups; however, this is a different payment package. Our deals are the best!',title:'My company travels with Hamptons; can I use Hamptons outside my company’s sign up?'},

    {info:'Yes, we love family bonding time and we allow families sign up as members of Hampton Travel and Tours. Our offerings are absolutely fantastic.',title:'Can my family also sign up with Hamptons?'},

    {info:'With over three thousand resorts and over 100 countries in the world, trust us to give you best travel advice based on your needs and budget.',title:'Where can I go on holidays?'},
    {info:'Processing time is a lot dependent on the visa processing time as other elements take little time to process, please ensure you confirm processing time with our travel consultants before booking.',title:'How long is processing time?'},
   {info:'As soon as payment is acknowledged, you will receive a confirmatory email showing payment details. After processing is completed, you will receive another email with your reference number showing your flight details.',title:'How can I verify that my booking has been confirmed?'},
   
    {info:'The choice of airline is dependent on your destination however, our well-experienced consultants will give you advice based on budget, destination, etc.',title:'What is the best airline to travel with?'},
     {info:'To make amendments and cancellations to your flight bookings, call us on +234 809 547 6727+234 809 547 6724 with your booking reference number to hand. Please note that changes are subject to amendment fees as stated in the booking conditions and should there be an increase in fare, you will be required to pay the difference. Some flights also incur cancellation charges.',title:'I have to cancel the trip I booked with Hamptons. What do I do?'},

    {info:'As soon as you confirm when and where you are travelling to so as to have the best rates and availability.',title:'When is the best time to book my ticket?'},

    {info:'Should in case you change plans, please note that some tickets are refundable while some are not, we will ensure this is communicated before the ticket is issued.',title:'Can my ticket fees be refunded?'},

    {info:'No, the person whose name the ticket bears has to be the one travelling.',title:'Is my ticket transferrable?'},

    {info:'After reconfirming your flight time, please ensure you arrive at the airport early before your booking time.',title:'How early should I arrive to the airport?'}


   
  ]

  let businessMain = [
    {info:'Hamptons offers professional travel services, private tours, holiday packages, excursions, businesses, families, and individual travellers. Our business is to ensure our clients get the best financial offer for every trip. This we do by providing our clients optimum cost-containment of travelling with the airlines available and stopovers for each trip',title:'Individuals',link:'Individuals'},
    {info:'Our core delivery extends to planning travels for corporate small and big organizations for conferences, seminars, team bonding, group travels, retreats for their staff members, directors and executives both locally and internationally. We also help in planning travels for company expatriates who will be flying into Nigeria. Companies signed up on our travel agency get fantastic discount rates, depending on their travel schedule.',title:'Corporate',link:'Corporate'},
    {info:'Hamptons delivers high-quality services for state officials and government parastatals that have to attend training, meetings. We are known for the standard. We handle everything from bookings to hotel reservations and of course, we deliver as expected.',title:'State & Parastatals',link:'state-and-parastatals'},
    {info:'Being the best travel agency in Nigeria means we also offer our services to faith-based organizations who will want to set out for religious activities within and outside the country. We see your role as crucial in society, and as such, only the best should handle your travels and logistics. Oh, we are the best!',title:'Religious Organizations',link:'religious-organizations'},
  ]
  let toursMain = [
    {info:'Educational tourism through excursions, summer trips to different global destinations in partnership with schools is one of the exciting travel services we love to offer. We believe in the power of integrating school curriculum with highly interactive and educational tours in the most edutaining forms. We find traveling one of the most exciting ways to unwind after school activities.',title:'Schools',link:'school-tours'},
    {info:'We provide efficient and effective services to pilgrims by providing exciting custom planned tour packages all over the world. You do not want to go to the Holy land holding anyone at heart for not handling your traveling as expected. Hampton Travel are not anyone as our job is to deliver quality services as promised. Try us now and watch us deliver results',title:'Pilgrims',link:'Pilgrim'},
    {info:'We know for sure what it means to be healthy as without you in good health, there can be no us. We take YOU as paramount in all we do, which is why we are the right person to meet should in case you need to travel for your medical check-ups and other health-based trips. Like our custom is, we serve you seamlessly. Get in touch with us today and let’s do what we do best ',title:'Medicals',link:'Medical'},
    {info:'Should in case you get a call or mail to speak or attend a conference anywhere around the world, be sure that Hampton Travel is your number one plug to make that happen seamlessly. We will handle everything from your flight booking down to your hotel reservation. We are not called the best travel agency in Nigeria for nothing.',title:'Conferences',link:'Conferences'},
    {info:'You sure wouldn’t want to bother yourself with the hassles of that surrounds traveling when you are supposed to be having the best times with the love of your life. If you are looking for a travel agency for your honeymoon, we are the best shot you’ve got. We will take care of everything you need. All you need to do is to give the go-ahead. We sure are best in what we do',title:'Honeymoons',link:'Honeymoons'},
    {info:'Anniversaries are moments that should never be forgotten and trust us; you do not want to mix good and bad in memory of that day. Let Hamptons Travel handle the stress while you enjoy the fun with loved ones. It is what we do best – make our customers happy.',title:'Anniversaries',link:'Anniversary'},
  ]
  let vacationAsideLink = [
    {link:'/vacation/cruises.html#cruises',title:'Cruises'},
    {link:'/vacation/resorts.html#resorts',title:'Resorts'},
    {link:'/vacation/romance-travels.html#romance-travels',title:'Romance Travels'},
    {link:'/vacation/independent-travelers.html#independent-travelers',title:'Independent Travelers'},
  ]
  let businessAsideLink = [
    {link:'/corporate-business-travels#Individuals',title:'Individuals'},
    {link:'/corporate-business-travels#Corporate',title:'Corporate'},
    {link:'/corporate-business-travels#state-and-parastatals',title:'State & Parastatals'},
    {link:'/corporate-business-travels#religious-organizations',title:'Religious Organizations'},
  ]
  let aboutAsideLink = [
    {link:'/about.html#our-mission',title:'Our Mission'},
    {link:'/about.html#our-values',title:'Our Values'},
    {link:'/about.html#partnerships',title:'Partnerships'},
  ]

  let whatWeDo = [
  {image:'/assets/img/card1_picture.jpg',title:'Travel Consultations',link:'/services#travel-consultations'},
  {image:'/assets/img/ticketing.jpg',title:'Reservations',link:'/services#hotel-reservation'},
  {image:'/assets/img/visa-advisory.jpg',title:'Visa advisory / support',link:'/services#visa-advisory'},
  {image:'/assets/img/ham-1.jpg',title:'Vacation',link:'/vacation'},
  {image:'/assets/img/travel-planning.jpg',title:'Travel planning and implementation',link:'/services#travel-consultations'},
  {image:'/assets/img/tours.jpg',title:'Tours',link:'/tours.html'},
  ]