mixin breadcrumb(branchList)
  .breadcrumb
    .grid-container-w90
      .grid-x
        ul.cell
          li
            a(href="/index.html") Home
          each branch in branchList
            li
              a(href=`/${branch.href}`)= branch.title