//- mixin card({type = '', img, title, caption, action})
//-   article(class=`card${type === 'primary' ? ' card--primary' : ''}${type === 'secondary' ? ' card--secondary' : ''}${type === 'alt' ? ' card--alt' : ''}`)
//-     .grid-x.grid-margin-x
//-       div.cell.small-12.large-4.card__image-wrapper
//-         if img
//-           img(src=`./assets/img/${img.src}`, alt=img.alt)
//-       div(class=`cell small-12 ${img ? 'large-8' : 'text-center'} grid-y align-justify card__content-wrapper`)
//-         div.cell
//-           p.card__title.h4.text-uppercase= title
//-           p.card__caption= caption
//-         div.cell
//-           a(href=action.href).card__action
//-             if type === 'alt'
//-               button.button.button-primary.text-uppercase= action.title
//-             else
//-               button.button.button-secondary.text-uppercase= action.title

//- mixin card()
//-   - let classes = `card ${attributes.class}`
//-   div(class=classes)
//-     block

//- mixin card-publications()

