//- title = String
//- image = Object with properties src and alt
mixin header(banners)
  header(class=`header width-100 overflow-hidden ${attributes.class}`)
    if banners.length > 1
      .carousel.header__carousel
        each info in banners
          div(style='height: 100%')
            img(class="header__image" src=`/assets/img/${info.src}`, alt=`${info.alt}`)
            .header__title-wrapper.grid-x.align-middle
              .title.cell.large-8.large-centered.padding-top-3
                h1.h2.margin-bottom-2.text-sans.font-bold= info.title
                h3.h5.margin-bottom-2.text-serif.no-letter-spacing.text-serif= info.subtitle
                a(href="/contact.html")
                  button.button.bg-white.color-primary= info.button
    else
      each info in banners
        img(class="small__banner" src=`/assets/img/${info.src}`, alt=`${info.alt}`  width='100%')
        if info.title
          .header__title-wrapper.grid-container-w90.grid-x.align-middle
            .title.cell.large-8.large-centered.padding-top-3
              h1.h2.margin-bottom-2.text-sans.font-bold= info.title
              h3.h5.margin-bottom-2.text-serif.no-letter-spacing.text-serif= info.subtitle

