<!DOCTYPE html>
html(lang="en",ng-app="website")
  head
    base(href='/')
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport",content="width=device-width")
    link(rel="canonical",href='https://www.hamptonstravels.com')

    // meta content
    title='Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel'
    meta(name="description",content=description)

    //Schema.org
    meta(itemprop="name",content=title)
    meta(itemprop="description",content=description)
    meta(itemprop="image",content=featuredImage)

    //open graph
    meta(property="og:title",content="Travel Agency and Group Tour Operator in Lagos, Nigeria | Hamptons Tours and Travel")
    meta(property="og:type",content="website")
    //- meta(property="og:url",content='https://www.hamptonstravels.com')
    meta(property="og:description",content="Plan your dream tour or vacation with Hamptons Travel and tours Agency, Hamptons Tour and Travel. Click to start planning your next Trip or Group Tour today!")
    meta(property="og:site_name",content="Hampton Travel and Tours")
    meta(name="google-site-verification" content="Fnic2NpCePepki8nlr__ufhxtiG5aVClLHTmpkg4w84" )
    link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
    link(rel="icon" href="/favicon.ico" type="image/x-icon")
    link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.12/css/lightgallery.min.css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Raleway:400,500,600,700&display=swap", rel="stylesheet")
    //-Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PKBC7TC');
    script.
      function initFreshChat() {
      window.fcWidget.init({
      token: "dde91050-e6dd-4971-9206-e00f67e61b40",
      host: "https://wchat.freshchat.com"
        });
      }
      function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);

    link(href="/assets/css/blog.css", rel="stylesheet")
    link(href="/assets/css/app.css?06", rel="stylesheet")

    title
      block title
        | Hampton Travel & TOURS
  body
    //-Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PKBC7TC" height="0" width="0" style="display:none;visibility:hidden")
    .grid-container.full
      block nav
        include ./includes/_nav
        include ./components/_header
        include ./components/_breadcrumb
        include ./components/_card
        include ./data/_data
        include ./data/_carousel

      block content
      footer
        block footer
          
          include ./includes/_footer

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js")
  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js")
  script(src="https://cdn.jsdelivr.net/combine/npm/lightgallery,npm/lg-autoplay,npm/lg-fullscreen,npm/lg-hash,npm/lg-pager,npm/lg-share,npm/lg-thumbnail,npm/lg-zoom")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
  script(src="https://parsleyjs.org/dist/parsley.js")
  script( src="https://unpkg.com/aos@2.3.1/dist/aos.js")
  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(src="//static.cdn.prismic.io/prismic.min.js")


  block other_scripts
  script(src="/assets/js/app.js")
