extends ./_layout
block title
block content
  include ./components/_header
  +header([{src: 'about-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ./components/_breadcrumb
  +breadcrumb([{title:'About', href:'about'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-2 About Hamptons Tour & Travels
        p Hamptons Travel & Tours Ltd is an IATA (International Air Transport Association) Accredited Travel Agency located in Lagos that specializes in local, regional and international travel services and offers a broad range of travel products and services which includes, Ticket Booking, Hotel Services, Visa Advisory, Protocol and Logistics Services, Cruises and Tour Packages.
        p Our pride is in our passion for travels and consistent excellent customer service. Our team is made up of the most exceptional travel consultants with extensive knowledge in the travel industry, equipped with up to date technology and required industry tools. 
        p Hamptons Travel and Tours Ltd is also a member of NANTA (National Association of Nigerian Travel Agents)

        
        div#our-mission
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Mission
            p At Hamptons Travel & Tours, we aim to provide Service, Comfort, and Luxury for all categories of travellers. When the conversation turns to travel, we want our clients to say, "<strong>I travel with Hamptons</strong>"
        div#our-vision
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Vision
            p <strong>Hospitality</strong> We assure friendliness, warmth, kindness, generosity, liberality, generosity, sociability and conviviality to all our customers
            p <strong>Transparency</strong> We assure clear transparency in all our transactions with our entire clients
            p <strong>Teamwork</strong> Teamwork makes the Dream Works
            p <strong>Loyalty</strong> Our allegiance is to our clients
        div.margin-top-3#our-culture
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Culture
            p Over time is a healthy, respectful, and enjoyable environment that boosts our customer friendliness and pro-activeness in service delivery while giving competitive prices to all our clients.
              p <strong>Consistent follow-up</strong> is mandatory to ensure customer satisfaction. <br><br> <strong>Internally</strong> we create and nurture a healthy, respectful, and enjoyable environment, in which our consultants are fairly compensated and encouraged to respect the customer and the quality of the service we provide. <br><br> <strong>We seek fair</strong> and responsible profit, enough to keep the company financially healthy for the short and long term, and to fairly remunerate employees for the work and effort.
          
        div.margin-top-3#our-values
          div.margin-top-2.margin-bottom-2
            h4.h4.font-bold.color-primary Our Values
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Commitment
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Dependability
            .grid-x.align-middle
              span.icon.icon-arrow-right.icon-1x.color-primary.margin-right-1
              h6.color-black.text-center.text-serif.margin-bottom-0.emphasize-point Integrity

        

      .cell.large-3.large-offset-1
        ul.aside__links
          each info in aboutAsideLink
            li
              a(href=info.link).font-bold.color-black= info.title
    div.margin-top-3#partnerships
      div.margin-top-2.margin-bottom-2
        h4.h4.font-bold.color-primary Partnership
        div.grid-x.js-partner-slide.partners__slide
          .cell
            img(src="/assets/img/ap1.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap2.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap3.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap4.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap5.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap6.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap7.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap8.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap9.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap10.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap11.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap12.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap13.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap14.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap15.jpg", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap17.png", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap18.jpg", alt="hamptons travel and tours")
          .cell
            img(src="/assets/img/ap19.png", alt="hamptons travel and tours")
    div.margin-top-3
      div.margin-top-2.margin-bottom-2
        h4.h4.font-bold.color-primary Technology Partners
        div.grid-x.js-tech-partner-slide.partners__slide.large-up-8
          .cell
            img(src="/assets/img/amadeu.svg", alt="Amadeu")
          .cell
            img(src="/assets/img/galileo.svg", alt="Galileo")
          .cell
            img(src="/assets/img/Sabre_Corporation_logo.svg", alt="Sabre Corporation")
          .cell
            img(src="/assets/img/farelogix.svg", alt="farelogix")



