extends ./_layout
block title
block content
  include ./components/_header
  +header([{src: 'contact-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ./components/_breadcrumb
  +breadcrumb([{title:'Contact', href:'contact'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h3.h3.color-black.font-bold.text-sans.margin-bottom-1 We look forward to speaking with you!
        p The Hamptons team has travelled extensively to bring you first-hand knowledge. We are available to make recommendations and plan the perfect travel experience to meet your needs
        br
        br
        h5.h5.color-primary Contact Us
        .grid-x
          .cell.medium-8
            form.form(name="contact" method="POST" data-netlify="true")
              .form-group
                label(for="firstName") First Name
                input(type="text" placeholder="First Name" name="first_name" required)
              .form-group
                label(for="lastName") Last Name
                input(type="text" placeholder="Last Name" name="last_name" required)
              .form-group
                label(for="lastName") Email Address
                input(type="email" placeholder="example@gmail.com" name="email" required)
              .form-group
                label(for="lastName") Comments
                textarea(name="comments", cols="30", rows="10" required)
              button.button(type="submit").color-white.bg-primary Submit

      .cell.large-4.large-offset-1
        ul.aside__links
          li
            p.margin-bottom-1.font-bold.color-black Hamptons Travel & Tours
            address.color-black Hamptons Travel & Tours Ltd. 71 Opebi Road, Ikeja Lagos, Nigeria.
          li
            p.margin-bottom-0.color-black.font-bold Email
            a(href="mailto:reservations@hamptonstravels.com" target='_blank').color-black reservations@hamptonstravels.com
          li
            p.margin-bottom-0.font-bold.color-black Telephone
            a(href="tel:+234 809 547 6727") +234 809 547 6727,
            a(href="tel:+234 809 547 6724") +234 809 547 6724