extends ./_layout
block title
block content
  include ./components/_header
  +header([{src: 'faq-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ./components/_breadcrumb
  +breadcrumb([{title:'FAQS', href:'faqs'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-1 FAQS
        h4.h4.font-bold Frequently Asked Questions
        p Below is a list of common questions, for more information, please send an email <a href='mailto:reservations@hamptonstravels.com' class="color-primary"> reservations@hamptonstravels.com<a/> or call <a href='tel:+234 809 547 6727' class="color-primary"> +234 809 547 6727</a>  <a href='tel:+234 809 547 6724' class="color-primary"> +234 809 547 6724</a>
        br
        br
        h5.h5.color-primary General
        div
          each info in faqs
            div.margin-top-2.margin-bottom-2
              h4.h4.font-bold= info.title
              p= info.info
