extends _layout
block title
block content
  include ./components/_header
  +header([
  { title: "With us, good travel and tour comes in easy" , src: 'banner-1.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  { title: "With us, good travel and tour comes in easy" , src: 'banner-4.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  { title: "With us, good travel and tour comes in easy" , src: 'banner-7.jpg', alt: 'hamptons travel and tours', subtitle: 'The Hamptons brand aims to provide memories synonymous with Service, Comfort, Timely delivery, and Luxury for all categories of travelers.', button:'Let\'s help you Plan'},
  ])

  .grid-container-w90.section.padding-bottom-0
    .grid-x
      .cell.large-8.large-centered
        .icon.icon-travel.icon-4x.color-primary.text-center
        h2.h2.color-primary.text-center.font-bold.text-sans Do you know why our customers keep coming back for more? Let us show you why!
  .grid-container-w90.section.padding-bottom-0
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h3.color-black.text-center.font-bold.margin-bottom-2.underline Discover what we do
      .cell.grid-x.medium-up-2.large-up-3.grid-padding-x.grid-padding-y
        each info in whatWeDo
            a.cell.block__image-with-text.text-sans(href=info.link)
                figure
                  img(src=info.image, alt=info.title)
                  figcaption.color-white= info.title
      .grid-x.grid-padding-x.grid-padding-y.span-across
        .cell.block__image-with-text
          figure
            .block__image-wrapper
              img(src="/assets/img/group-travel.jpg", alt="sunset at hamptons")
            figcaption.color-white.big-block
              h2.h3.margin-bottom-1 Experience group travel at its finest
              h5.h5.margin-bottom-2 Hampton has extensive experience planning customized group travel.
              a(href="/contact.html")
                button.button.bg-primary.color-white Lets help you plan
  .grid-container-w90
    .grid-x
      .cell.large-8.large-centered.text-center
          div.margin-top-2.margin-bottom-2
            h2.h3.font-bold.color-primary Testimonials
            div.carousel
              div
                em "After travelling with Hapmtons over the years, it is safe to say that their customer service is satisfactory and their travel services are reliable."
                p.text-center.font-bold.font-14 Dayo
              div
                em "The easiest thing to do is handing over my travel needs and budget to Hamptons; they do their job best."
                p.text-center.font-bold.font-14 Itunu
              div
                em "My business partner referred me to Hamptons, and it has been great doing my travels with them. Top-notch delivery, I must say."
                p.text-center.font-bold.font-14 Boluwatife
  .grid-container-w90.section
    .grid-x
      .cell.large-8.large-centered.text-center
        h2.h2.color-black.text-center.font-bold.margin-bottom-2.text-sans Take an exceptional vacation you will remember for a lifetime.
        a(href="/contact.html")
            button.button.bg-primary.color-white Lets help you plan



