extends ./_layout
block title
block content
  include ./components/_header
  +header([{src: 'tours-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ./components/_breadcrumb
  +breadcrumb([{title:'Tours', href:'tours'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-1 Tours
        p Whether you are seeking a trip for yourself or for your household, tour experiences are both an informative and engaging way to travel! Hamptons has a deep understanding of fantastic tours both domestically and internationally. Let Hamptons know if you have specific types of interests or specific destinations in mind. We are ready to recommend and book ideal tours for you!
        div.margin-top-3
          each info in toursMain
            div(id=info.link).margin-top-2.margin-bottom-2
              h4.h4.font-bold.color-primary= info.title
              p= info.info

      .cell.large-3.large-offset-1
        ul.aside__links
          each info in toursAsideLink
            li
              a(href=info.link).font-bold.color-black= info.title
