extends ../_layout
block title
block content
  include ./../components/_header
  +header([{src: 'corporate-banner.jpg', alt: 'hamptons travel and tours'}])(class="header--center header--with-context")
  //- BREADCRUMB
  include ../components/_breadcrumb
  +breadcrumb([{title:'Corporate/Business travels', href:'corporate-business-travels'}])

  .grid-container-w90.section
    .grid-x.grid-margin-y
      .cell.large-7
        h2.h2.color-black.font-bold.text-sans.margin-bottom-2 Corporate/Business travels
        div.margin-top-3
          each info in businessMain
            div(id=info.link).margin-top-2.margin-bottom-2
              h4.h4.font-bold.color-primary= info.title
              p= info.info
      .cell.large-3.large-offset-1
        ul.aside__links
          each info in businessAsideLink
            li
              a(href=info.link).font-bold.color-black= info.title
