$colors: (deep-primary:#00111D, primary: #194D74, light-primary: #194D74, lighter-primary: rgba($color:#194D74, $alpha:0.4), gray-4: #4a4a4a, gray-5: #58564e, gray-6: #676263, gray-7: #7c7879, gray-9: #989898, off-white: #eee, white: #ffffff, black: #000000, abbey: #2c425c);
@function color($color) {
    @return map-get($map: $colors, $key: $color);
}

.yellow-grunge {
    background-image: url("/assets/img/yellow-grunge.svg");
    background-size: contain;
}

.white-grunge {
    background-image: url("/assets/img/white-grunge.svg");
    background-size: contain;
}