.aside__links {
    list-style: none;
    @include breakpoint(medium up) {
        border-left: 4px solid color(primary);
    }
    li {
        padding: rem-calc(24) 0;
        border-bottom: 1px solid color(lighter-primary);
        @include breakpoint(medium up) {
            margin-left: 2rem;
        }
        &:last-child {
            border-bottom: 0;
        }
        a {
            font-size: rem-calc(18);
            &.active {
                color: color(primary)
            }
            &:active,
            &:hover {
                color: color(primary)
            }
        }
    }
}