.cell-with-vr {
    .list {
        border-right: 1px solid rgba(216, 216, 216, 0.61);

        &:last-child {
            border-right: 0;
        }
    }
}

.block {
    &__image-with-text {
        .block__image-wrapper {
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
        }

        figure {
            position: relative;
            overflow: hidden;
            height: 100%;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: #000;
                opacity: 0.25;
            }
        }

        figcaption {
            position: absolute;
            bottom: 0;
            z-index: 2;
            padding: rem-calc(16);
            font-size: rem-calc(24);
            font-weight: 600;
            letter-spacing: 0;
            line-height: rem-calc(29);

            @include breakpoint(medium up) {
                padding: rem-calc(32);
            }
        }

        &:active,
        &:focus {
            outline: none;
        }

        .big-block {
            top: 0
        }
    }
}

a.block__image-with-text {
    &:hover img {
        transform: scale(1.5);
    }

    img {
        transition: all 1s ease-out;
        transform-origin: center top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-fit: cover;
    }

    figcaption {
        font-size: rem-calc(18);

        @include breakpoint(medium up) {
            font-size: rem-calc(24);
        }
    }
}

.video {
    width: 100%;
    height: 50vh;

    @include breakpoint(medium up) {
        height: 80vh;
    }
}