.breadcrumb {
  background-color: #efefef;
  padding: 0.25rem 0;
  font-size: rem-calc(12);
  @extend .text-sans;
  text-transform: uppercase;
  white-space: no-wrap;

  @include breakpoint(small only) {
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  a {
    color: $black;
    display: inline-block;
    padding-top: rem-calc(8);
    padding-bottom: rem-calc(8);
  }

  li {
    display: inline-block;
    padding-right: rem-calc(8);

    &:after {
      content: '>';
      font-size: rem-calc(14);
      padding-left: rem-calc(8);
      line-height: 1.6;
      font-weight: bold;
      // padding-top: rem-calc(8);
      // display: inline-block;
    }

    &:last-of-type {
      font-weight: bold;

      &:after {
        content: '';
      }
    }
  }
}