%button {
    border-radius: $border-radius;
    transition: $transition;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    font-size: rem-calc(14);
    line-height: 1;
    font-family: $font-family-serif;
    padding: rem-calc(12) rem-calc(52);
    font-weight: bold;
    text-transform: uppercase;
    max-width: 100%;
    cursor: pointer;
    outline: none;
    display: inline-block;
    &:hover {
        border-color: transparent;
        transform: scale(1.05);
    }
}

.button {
    @extend %button;
    border: 0;
    text-transform: uppercase;
    &--small {
        @extend %button;
        font-size: rem-calc(12);
        padding: rem-calc(8) rem-calc(20);
        background-color: color(primary);
        color: #fff;
        &:hover {
            background-color: $light-primary-background;
            color: #fff;
        }
    }
}

.button-secondary {
    @extend %button;
    border: rem-calc(1) solid color(primary);
    background-color: color(white);
    color: color(gray-5);
}

.button-transparent {
    @extend %button;
    border: rem-calc(1) solid color(white);
    background-color: transparent;
    color: color(white);
}