/**
 *
 * Styles for Page Footer
 *
 */

.footer {
    color: color(white);
    background-color: color(deep-primary);
    padding-top: rem-calc(82);
    padding-bottom: rem-calc(10);
    &__top {
        padding-bottom: rem-calc(70);
        @include breakpoint(large up) {
            padding-bottom: rem-calc(20)
        }
    }
    a {
        transform: scale(1);
        &:hover {
            color: #0991ff;
        }
    }
    &__bottom {
        padding-top: rem-calc(10);
        border-top: 1px solid rgba($color: #fff, $alpha: 0.14);
        @include breakpoint(large up) {
            padding-top: rem-calc(20)
        }
        &__social {
            @include breakpoint(large up) {
                justify-content: flex-end
            }
        }
    }
    &__subscribe {
        align-items: center;
        &__btn {
            padding: rem-calc(12) rem-calc(25)
        }
    }
    &__address {
        font-size: rem-calc(18)
    }
    &__tel {
        font-size: rem-calc(18);

        font-weight: 600;
         @include breakpoint(large up) {
             font-size: rem-calc(24);
         }
        &-wrapper {
                    margin-top: 1rem;
            margin-bottom: 1rem;
            &.partners__slide {
                @include breakpoint(medium down) {
                    justify-content: flex-start;
                }
            }
            height: max-content;
            @include breakpoint(large up) {
                text-align: right;
            }
        }
    }
}