.header--center {
    .header__image {
        object-position: center center;
    }
}

.header {
    position: relative;
    height: 80vh;
    width: 100%;
    text-align: center;
    animation: animateIn 1s ease-out 0.2s forwards;

    @keyframes animateIn {
        from {
            opacity: 0;
            visibility: hidden;
        }

        to {
            opacity: 1;
            visibility: visible;
        }
    }


    @include breakpoint(large up) {
        margin-top: 0;
    }

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.20);
        z-index: -11;
    }

    &--with-context {
        @include breakpoint(medium down) {
            height: 30vh;
        }
    }

    &--without-context {
        height: 25vh;

        @include breakpoint(large up) {
            height: 40vh;
        }
    }

    &__image {
        height: 80vh;
        width: 100%;
        object-fit: cover;
        object-position: 0;

        @include breakpoint(large up) {
            object-position: 0 -8rem;
        }
    }

    &__title-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;

        .title {
            color: color(white);

        }
    }
}

.header__carousel .slick-track,
.header__carousel .slick-list,
.header__carousel .slick-slide {
    margin: 0;
    height: 100%;
}

.header__carousel .slick-slide>div {
    height: 100%;
    background-color: #000;
}

.small__banner {
    height: 100%;
}