.hero {
    &-banner {
        background-position: 85%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        z-index: 0;
        &__text {
            display: flex;
            color: #fff;
            &-wrapper {
                height: 100%;
                padding-bottom: 6.9rem;
            }
            &--bottom {
                display: flex;
                height: 100%;
                align-items: flex-end;
            }
            &--right {
                justify-content: flex-end;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(color(black), 0.15);
            z-index: -1;
        }
    }
}