.nav {
    position: fixed;
    top: 0;
    background-color: color(white);
    box-shadow: rem-calc(4) rem-calc(4) rem-calc(20) rgba(color(gray-4), 0.1);
    z-index: 10;
    font-family: $font-family-sans;
    @include breakpoint(large up) {
        padding-top: 0;
        left: 50%;
        transform: translateX(-50%);
        align-items: flex-end;
    }
    @include breakpoint(large only) {
        padding: rem-calc(16);
    }
    .nav-wrapper {
        position: relative;
        padding: rem-calc(8);
        @include breakpoint(xlarge up) {
            padding: 0 0 1rem 0;
        }
    }
    .brand-wrapper {
        z-index: 3;
        .brand {
            @include breakpoint(xlarge up) {
                align-items: flex-end;
            }
            .brand-image-wrapper {
                @include breakpoint(large up) {
                    // width: 15%;
                }
                &:first-child {
                    transform: scale(0.8);
                    width: max-content;
                    @include breakpoint(xlarge up) {
                        transform-origin: bottom left;
                    }
                }
                .brand-image {
                    width: 150px;
                    @include breakpoint(medium up) {
                        width: 250px
                    }
                }
            }
            .brand-link {
                color: color(gray-4);
                transition: 0.3s;
                &:hover {
                    color: color(gray-5);
                }
            }
            .brand-title {
                font-weight: bold;
                font-size: rem-calc(12);
                height: 100%;
                @include breakpoint(large up) {
                    // margin-left: rem-calc(12);
                    font-size: rem-calc(16);
                }
            }
        }
    }
    .menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transform: translateY(-125vh);
        align-items: center;
        background-color: color(white);
        // z-index: -1;
        padding-top: rem-calc(96);
        @include breakpoint(medium up) {
            align-items: flex-start;
            padding-top: rem-calc(164);
            width: 100%;
        }
        @include breakpoint(xlarge up) {
            position: absolute;
            width: 100%;
            padding: 1rem;
            bottom: 0;
            padding-top: 0;
            align-items: flex-end;
            height: initial;
            transform: translateY(0);
        }
        .menu-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include breakpoint(medium down) {
                height: 90vh;
                overflow-y: scroll;
                // overflow-y: scroll;
                overflow-x: hidden;
                -webkit-overflow-scrolling: touch;
                padding-bottom: rem-calc(32);
            }
            @include breakpoint(xlarge up) {
                align-items: flex-end;
            }
        }
        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            a {
                cursor: pointer;
            }
            @include breakpoint(xlarge up) {
                flex-direction: row;
                justify-content: flex-end;
            }
            &--secondary {
                font-size: rem-calc(16);
                margin-top: rem-calc(48);
                order: 2;
                @include breakpoint(xlarge up) {
                    font-size: rem-calc(12);
                    margin: 0;
                    order: 0;
                    .menu-item:not(:first-child) {
                        border-left: 1px solid color(gray-9);
                    }
                }
                .menu-item {
                    margin: rem-calc(8) 0;
                    opacity: 0;
                    @include breakpoint(xlarge up) {
                        margin: 0;
                        opacity: 1;
                    }
                }
                a {
                    transition: 0.3s;
                    &:hover {
                        opacity: .7;
                    }
                }
                .menu-action {
                    position: relative;
                }
            }
            &--primary {
                @include breakpoint(large down) {
                    width: 100%;
                }
                @include breakpoint(xlarge up) {
                    // align-self: flex-end;
                    align-items: flex-end;
                    margin-top: rem-calc(16);
                }
                .menu-item {
                    font-size: rem-calc(20);
                    margin: rem-calc(12) 0;
                    opacity: 0;
                    transform: scale(0.9) translateY(rem-calc(-16));
                    @include breakpoint(xlarge up) {
                        opacity: 1;
                        font-size: rem-calc(18);
                        margin: 0;
                    }
                    >a {
                        color: color(black);
                        transition: 0.3s;
                        position: relative;
                        &::after {
                            position: absolute;
                            content: "";
                            bottom: rem-calc(0);
                            left: 50%;
                            transform: translateX(-50%);
                            height: rem-calc(2);
                            width: 50%;
                            background-color: color(primary);
                            opacity: 0;
                            transition: 0.3s;
                        }
                        &::before {
                            position: absolute;
                            content: "";
                            bottom: rem-calc(-15);
                            width: 100%;
                            height: rem-calc(15);
                            transition: 0.3s;
                        }
                        &:hover {
                            &::after {
                                bottom: rem-calc(-4);
                                opacity: 1;
                            }
                        }
                    }
                }
                .menu-action {
                    @include breakpoint(large down) {
                        width: 100%;
                    }
                }
            }
            .menu-item {
                // text-transform: uppercase;
                padding: 0 rem-calc(12);
                line-height: 1;
                letter-spacing: rem-calc(-0.75);
                text-align: center;
                display: block;
                @include breakpoint(xlarge up) {
                    transform: none;
                }
            }
        }
    }
}

// Search Form
.search {
    @include breakpoint(large down) {
        flex-direction: column;
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
    }
    &-dropdown {
        display: none;
        position: relative;
        background-color: #f8f8f8;
        border-bottom: rem-calc(2) solid color(primary);
        width: 100%;
        overflow: hidden;
        z-index: 5;
        @include breakpoint(large down) {
            margin-bottom: rem-calc(16);
        }
        @include breakpoint(xlarge up) {
            box-shadow: rem-calc(4) rem-calc(4) rem-calc(20) rem-calc(-10) rgba(color(gray-4), 0.15);
            position: absolute;
            top: rem-calc(114);
            left: 0;
        }
        input[type="text"] {
            font-size: rem-calc(20);
            width: 100%;
            border: 0;
            padding-left: 0;
            text-align: left;
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            caret-color: color(yellow);
            width: 90%;
            margin: 0;
            @include breakpoint(medium up) {
                text-align: center;
            }
            &::placeholder {
                color: rgba(color(gray-9), 0.5);
            }
        }
    }
    &__submit-btn {
        @extend .font-24;
        padding: 0;
        .icon {
            opacity: 0.5;
            &:hover {
                opacity: 1;
                background-color: transparent;
                background-image: none;
            }
        }
    }
    &__trigger-btn,
    &__submit-btn {
        color: color(primary);
        outline: none;
    }
}

// Hamburger
$hamburger-line-width: rem-calc(1);
$hamburger-size: rem-calc(24);
$hamburger-color: color(primary);
.hamburger-menu-wrapper {
    cursor: pointer;
    padding: rem-calc(4);
    // margin-right: rem-calc(-20);
    align-self: center;
    // @include breakpoint
    &.open {
        .hamburger-menu {
            span {
                transform: rotate(315deg);
                &::before {
                    opacity: 0;
                }
                &::after {
                    top: 0;
                    transform: rotate(-90deg);
                }
            }
        }
    }
    .hamburger-menu {
        position: relative;
        width: $hamburger-size;
        height: $hamburger-size / 2;
        @include breakpoint(xlarge up) {
            display: none;
        }
        span {
            opacity: 1;
            left: 0;
            display: block;
            color: $hamburger-color;
            top: 50%;
            transform: none;
            &,
            &::after,
            &::before {
                content: "";
                position: absolute;
                background-color: $hamburger-color;
                width: 100%;
                height: $hamburger-line-width;
                transition: 0.6s ease-in-out;
            }
            &::before {
                top: -$hamburger-size / 4;
            }
            &::after {
                top: $hamburger-size / 4;
            }
        }
    }
}

.has-drop-down {
    display: flex;
    >a {
        // position: relative;
        padding-right: 0;
    }
    .drop-down {
        // display: none;
        @include breakpoint(large down) {
            display: flex;
            flex-direction: column;
            max-height: 0;
            overflow: hidden;
            transition: 0.2s ease-in-out;
            &__intro,
            &__image-wrapper {
                display: none;
            }
        }
        @include breakpoint(xlarge up) {
            opacity: 0;
            overflow: hidden;
            display: flex;
            position: absolute;
            width: 100%;
            left: 0;
            top: rem-calc(115);
            z-index: 10;
            text-align: center;
            padding: rem-calc(36);
            padding-top: rem-calc(64);
            background-color: lighten(#8f8f8f, 35%);
            box-shadow: rem-calc(4) rem-calc(4) rem-calc(50) rgba(color(gray-4), 0.4);
            a {
                padding-bottom: rem-calc(8);
            }
        }
        &__intro {
            text-align: left;
            &-heading {
                @extend .font-bold,
                .text-uppercase,
                .underline,
                .underline--left;
                margin-bottom: rem-calc(24);
            }
            &-body {
                @extend .text-serif;
                text-transform: initial;
                letter-spacing: 0;
            }
            .button,
            .button-secondary {
                font-size: rem-calc(10);
                opacity: 0.5;
                transition: all 0.2s ease-out;
                &:hover {
                    opacity: 1;
                }
            }
        }
        ul {
            margin: 0;
            @include breakpoint(large down) {
                margin: 0.5rem 0 1rem;
            }
            li {
                text-align: left;
                display: flex;
                align-items: baseline;
                @extend .icon-chevron-thin-right;
                @include breakpoint(large down) {
                    justify-content: center;
                    text-align: center;
                }
                &::before {
                    margin-right: rem-calc(8);
                    @include breakpoint(large down) {
                        display: none;
                    }
                }
            }
            a {
                font-size: rem-calc(16);
                transition: all 0.4s ease-out;
                color: color(black);
                &:hover {
                    color: darken(color(primary), 5%);
                    transform: translateX(8px) !important;
                }
            }
        }
        &__image-wrapper {
            @extend .xlarge-4;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        li:first-child {
            padding-top: rem-calc(8);
        }
        li:last-child {
            padding-bottom: rem-calc(8);
        }
        a {
            color: color(black);
            opacity: .7;
            margin-bottom: rem-calc(4);
        }
    }
}