.slick-prev:before,
.slick-next:before {
    color: color(primary);
    font-family: "iconfonts";
    font-size: 2rem;
    line-height: 1;
    opacity: 1;
    @include breakpoint(large up) {
        font-size: 3.2rem;
    }
}


/* add margin left and right to the slides */

.slick-slide {
    margin: 0 1.2rem;
    @include breakpoint(large up) {
        margin: 0 0.9rem;
    }
}


/* remove the margin left and right from the parent */

.slick-list {
    margin: 0 0.9rem;
}

.slick-prev {
    left: -0.5rem;
    @include breakpoint(large up) {
        left: rem-calc(-60);
    }
}

.slick-next,
.slick-prev {
    top: 30%;
}

.slick-next {
    right: 0.5rem;
    @include breakpoint(medium up) {
        right: -1%;
    }
    @include breakpoint(large up) {
        right: -4%;
    }
}

.slick-next:before {
    @extend .icon-chevron-thin-right;
}

.slick-prev:before {
    @extend .icon-chevron-thin-left;
}

.slick-dots {
    margin-top: rem-calc(10);
    bottom: unset;
    @include breakpoint(medium up) {
        margin-top: rem-calc(25);
    }
    li {
        margin-right: 0.25rem;
        @include breakpoint(medium up) {
            margin-right: 1rem;
        }
        button {
            @include breakpoint(large up) {
                &:hover:before,
                &:focus:before {
                    color: color(primary) !important;
                }
            }
        }
    }
}

.slick-dots li.slick-active button:before {
    color: color(primary);
    opacity: 1;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:before {
    color: color(abbey);
    font-size: 14px;
    opacity: 0.08;
}