.tooltip {
    @extend .text-center,
    .bg-primary;
    position: absolute;
    visibility: hidden;
    top: 1rem;
    color: #fff;
    left: 50%;
    width: max-content;
    padding: 1rem;
    border-radius: 4px;
    transform: translateX(-50%);
    transition: top $transition, opacity 0.1s;
    z-index: 1;
    &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent color(primary) transparent;
        transform: translateX(-50%);
    }
    &::before {
        content: "";
        position: absolute;
        top: 2rem;
        left: 0;
        width: 100%;
        background-color: color(primary);
    }
    p {
        font-size: rem-calc(14);
    }
    &.show-tooltip {
        visibility: visible;
        top: 2.25rem;
    }
}