@font-face {
  font-family: "iconfonts";
  src: url('/assets/fonts/iconfonts.eot');
  src: url('/assets/fonts/iconfonts.eot?#iefix') format('eot'),
    url('/assets/fonts/iconfonts.woff2') format('woff2'),
    url('/assets/fonts/iconfonts.woff') format('woff'),
    url('/assets/fonts/iconfonts.ttf') format('truetype'),
    url('/assets/fonts/iconfonts.svg#iconfonts') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin icon-styles {
  font-family: "iconfonts";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

   @if $filename==Iata_official_logo {
      $char: "\E001";
    }

     @if $filename==Sabre_Corporation_logo {
      $char: "\E002";
    }

     @if $filename==air_france {
      $char: "\E003";
    }

     @if $filename==amadeu {
      $char: "\E004";
    }

     @if $filename==arrow-right {
      $char: "\E005";
    }

     @if $filename==chevron-thin-left {
      $char: "\E006";
    }

     @if $filename==chevron-thin-right {
      $char: "\E007";
    }

     @if $filename==delta_airlines {
      $char: "\E008";
    }

     @if $filename==facebook {
      $char: "\E009";
    }

     @if $filename==farelogix {
      $char: "\E00A";
    }

     @if $filename==fly_emirates {
      $char: "\E00B";
    }

     @if $filename==galileo {
      $char: "\E00C";
    }

     @if $filename==instagram {
      $char: "\E00D";
    }

     @if $filename==klm_royal_dutch {
      $char: "\E00E";
    }

     @if $filename==naca_logo {
      $char: "\E00F";
    }

     @if $filename==nanta {
      $char: "\E010";
    }

     @if $filename==play {
      $char: "\E011";
    }

     @if $filename==quotes-left {
      $char: "\E012";
    }

     @if $filename==search {
      $char: "\E013";
    }

     @if $filename==travel {
      $char: "\E014";
    }

     @if $filename==twitter {
      $char: "\E015";
    }

     @if $filename==united_airlines {
      $char: "\E016";
    }

     @if $filename==virgin_atlantic {
      $char: "\E017";
    }

     @if $filename==youtube {
      $char: "\E018";
    }

    @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    }

    @else {
      @include icon-styles;
    }

    content: icon-char($filename);
  }
}

.icon-Iata_official_logo {
    @include icon(Iata_official_logo);
  }

  .icon-Sabre_Corporation_logo {
    @include icon(Sabre_Corporation_logo);
  }

  .icon-air_france {
    @include icon(air_france);
  }

  .icon-amadeu {
    @include icon(amadeu);
  }

  .icon-arrow-right {
    @include icon(arrow-right);
  }

  .icon-chevron-thin-left {
    @include icon(chevron-thin-left);
  }

  .icon-chevron-thin-right {
    @include icon(chevron-thin-right);
  }

  .icon-delta_airlines {
    @include icon(delta_airlines);
  }

  .icon-facebook {
    @include icon(facebook);
  }

  .icon-farelogix {
    @include icon(farelogix);
  }

  .icon-fly_emirates {
    @include icon(fly_emirates);
  }

  .icon-galileo {
    @include icon(galileo);
  }

  .icon-instagram {
    @include icon(instagram);
  }

  .icon-klm_royal_dutch {
    @include icon(klm_royal_dutch);
  }

  .icon-naca_logo {
    @include icon(naca_logo);
  }

  .icon-nanta {
    @include icon(nanta);
  }

  .icon-play {
    @include icon(play);
  }

  .icon-quotes-left {
    @include icon(quotes-left);
  }

  .icon-search {
    @include icon(search);
  }

  .icon-travel {
    @include icon(travel);
  }

  .icon-twitter {
    @include icon(twitter);
  }

  .icon-united_airlines {
    @include icon(united_airlines);
  }

  .icon-virgin_atlantic {
    @include icon(virgin_atlantic);
  }

  .icon-youtube {
    @include icon(youtube);
  }

  