.justify-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}

.align-end {
    justify-content: flex-end;
}

.showdow {
    &--light {
        box-shadow: 0 4px 10px rgba(#000000, 0.03);
    }
}

.no-border {
    border: 0;
}

.pad {
    &--mobile {
        @include breakpoint(small only) {
            padding-left: rem-calc(16);
            padding-right: rem-calc(16)
        }
    }
}