-
  let serviceAsideLink = [
    {link:'https://www.hamptonstravels.com/services#air-services',title:'Air Travel Services'},
    {link:'https://www.hamptonstravels.com/services#hotel-reservation',title:'Hotel Reservation'},
    {link:'https://www.hamptonstravels.com/services#visa-advisory',title:'Visa Advisory'},
    {link:'https://www.hamptonstravels.com/services#tour-packages',title:'Tour Packages'},
    {link:'https://www.hamptonstravels.com/services#protocol',title:'Protocol/Logistics Services'},
    {link:'https://www.hamptonstravels.com/services#travel-consultations',title:'Travel Consultations'},
  ]
  let contactLink = [
    {title:'Hampons Travels & Tours Lagos-Nigeria',subtitle:'Hamptons Travel & Tours Ltd 71 Opebi Road, Ikeja Lagos, Nigeria'},
    {title:'Email',subtitle:'reservations@hamptonstravels.com'},
    {title:'Telephone',subtitle:'+234 809 547 6727; +234 809 547 6724'},
  ]
  let toursAsideLink = [
    {link:'https://www.hamptonstravels.com/tours.html#school-tours',title:'Schools'},
    {link:'https://www.hamptonstravels.com/tours.html#Pilgrim',title:'Pilgrim'},
    {link:'https://www.hamptonstravels.com/tours.html#Medical',title:'Medical'},
    {link:'https://www.hamptonstravels.com/tours.html#Conferences',title:'Conferences'},
    {link:'https://www.hamptonstravels.com/tours.html#Honeymoons',title:'Honeymoons'},
    {link:'https://www.hamptonstravels.com/tours.html#Anniversary',title:'Anniversary'},
  ]
  let faqs = [
    {info:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum',title:'What is the fee for using a travel agency?'},
    {info:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum',title:'Some Packing and Traveling Tips'},
    {info:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum',title:'I have to cancel the trip I booked with Hamptons. What do I do?'},
    {info:'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum',title:'What is the fee for using a travel agency?'},
  ]

  let businessMain = [
    {info:'Hamptons offers professional travel services, private tours, holiday packages, excursions, business persons, families, and individual travellers. Our business is to ensure our clients get the best financial offer for every trip. This we do by providing our clients optimum cost-containment of travelling with the airlines available and stopovers for each trip',title:'Individuals',link:'Individuals'},
    {info:'Our core delivery extends to planning travels for corporate small and big organizations for conferences, seminars, team bonding, group travels, retreats for their staff members, directors and executives both locally and internationally. We also help in planning travels for company expatriates who will be flying into Nigeria. Companies signed up on our travel agency get fantastic discount rates, depending on their travel schedule.',title:'Corporate',link:'Corporate'},
    {info:'Hamptons delivers high-quality services for state officials and government parastatals that have to attend training, meetings. We are known for the standard. We handle everything from bookings to hotel reservations and of course, we deliver as expected.',title:'State & Parastatals',link:'state-and-parastatals'},
    {info:'Being the best travel agency in Nigeria means we also offer our services to faith-based organizations who will want to set out for religious activities within and outside the country. We see your role as crucial in society, and as such, only the best should handle your travels and logistics. Oh, we are the best!',title:'Religious Organizations',link:'religious-organizations'},
  ]
  let toursMain = [
    {info:'Educational tourism through excursions, summer trips to different global destinations in partnership with schools is one of the exciting travel services we love to offer. We believe in the power of integrating school curriculum with highly interactive and educational tours in the most edutaining forms. We find traveling one of the most exciting ways to unwind after school activities.',title:'Schools',link:'school-tours'},
    {info:'We provide efficient and effective services to pilgrims by providing exciting custom planned tour packages all over the world. You do not want to go to the Holy land holding anyone at heart for not handling your traveling as expected. Hamptons Travels are not anyone as our job is to deliver quality services as promised. Try us now and watch us deliver results',title:'Pilgrim',link:'Pilgrim'},
    {info:'We know for sure what it means to be healthy as without you in good health, there can be no us. We take YOU as paramount in all we do, which is why we are the right person to meet should in case you need to travel for your medical check-ups and other health-based trips. Like our custom is, we serve you seamlessly. Get in touch with us today and let’s do what we do best ',title:'Medical',link:'Medical'},
    {info:'Should in case you get a call or mail to speak or attend a conference anywhere around the world, be sure that Hamptons travels is your number one plug to make that happen seamlessly. We will handle everything from your flight booking down to your hotel reservation. We are not called the best travel agency in Nigeria for nothing.',title:'Conferences',link:'Conferences'},
    {info:'You sure wouldn’t want to bother yourself with the hassles of that surrounds traveling when you are supposed to be having the best times with the love of your life. If you are looking for a travel agency for your honeymoon, we are the best shot you’ve got. We will take care of everything you need. All you need to do is to give the go-ahead. We sure are best in what we do',title:'Honeymoons',link:'Honeymoons'},
    {info:'Anniversaries are moments that should never be forgotten and trust us; you do not want to mix good and bad in memory of that day. Let Hamptons Travel handle the stress while you enjoy the fun with loved ones. It is what we do best – make our customers happy.',title:'Anniversary',link:'Anniversary'},
  ]
  let vacationAsideLink = [
    {link:'https://www.hamptonstravels.com/vacation/cruises.html#cruises',title:'Cruises'},
    {link:'https://www.hamptonstravels.com/vacation/resorts.html#resorts',title:'Resorts'},
    {link:'https://www.hamptonstravels.com/vacation/romance-travels.html#romance-travels',title:'Romance Travels'},
    {link:'https://www.hamptonstravels.com/vacation/independent-travelers.html#independent-travelers',title:'Independent Travelers'},
  ]
  let businessAsideLink = [
    {link:'https://www.hamptonstravels.com/corporate-business-travels#Individuals',title:'Individuals'},
    {link:'https://www.hamptonstravels.com/corporate-business-travels#Corporate',title:'Corporate'},
    {link:'https://www.hamptonstravels.com/corporate-business-travels#state-and-parastatals',title:'State & Parastatals'},
    {link:'https://www.hamptonstravels.com/corporate-business-travels#religious-organizations',title:'Religious Organizations'},
  ]
  let aboutAsideLink = [
    {link:'https://www.hamptonstravels.com/about.html#our-mission',title:'Our Mission/Vision'},
    {link:'https://www.hamptonstravels.com/about.html#our-values',title:'Our Values'},
    {link:'https://www.hamptonstravels.com/about.html#testimonials',title:'Testimonials'},
    {link:'https://www.hamptonstravels.com/about.html#partnerships',title:'Partnerships'},
  ]

  let whatWeDo = [
  {image:'/assets/img/card1_picture.jpg',title:'Air Travel Services',link:'https://www.hamptonstravels.com/services/air-travel-services.html#air-services'},
  {image:'/assets/img/card2_picture.jpg',title:'Reservations',link:'https://www.hamptonstravels.com/services/hotel-reservation.html#hotel-reservation'},
  {image:'/assets/img/card3_picture.jpg',title:'Visa advisory / support',link:'https://www.hamptonstravels.com/services/visa-advisory.html#visa-advisory'},
  {image:'/assets/img/card4_picture.jpg',title:'Cruises',link:'https://www.hamptonstravels.com/vacation/cruises.html#cruises'},
  {image:'/assets/img/card5_picture.jpg',title:'Travel planning and implementation',link:'https://www.hamptonstravels.com/services/travel-consultations.html#travel-consultations'},
  {image:'/assets/img/card6_picture.jpg',title:'Tours',link:'https://www.hamptonstravels.com/tours.html'},
  ]